/* 
    Document   : style.css
    Created on : Jul 1, 2010, 7:47:18 PM
    Author     : sbourget
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.pcastbold {
    font-weight: bold;
}

